<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2 class="h2">{{title_main}}</h2>
</div>
<p class="mb-5">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo iaculis nunc, ut convallis mi pretium ac. Integer vel blandit nisl. Praesent eu molestie magna. Maecenas quis ullamcorper nisl. Nullam sit amet enim vel enim hendrerit vestibulum at eget quam. Fusce fermentum posuere purus quis suscipit. Integer id sapien mauris. Donec non felis in ex bibendum ultricies.
</p>