<nav class="d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">
            Alumnos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Registro
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Ayuda
          </a>
        </li>
      </ul>
    </div>
</nav>